body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.banner {
  padding-top: 100px;
}

.ikki {
  max-height: 500px;
}

.section-image {
  min-height: 200px;
  max-height: 250px;
}

.whatsapp__link {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 7px;
  line-height: 0;
  transition: transform 0.2s;
  img {
    width: 4rem;
  }
  &:hover, &:focus {
    transform: scale(1.2);
  }
}

/* vim: set sw=2 et sta:
 */
