<footer class="bg-dark section py-5">
  <div class="container text-center">
    <div>
      <img class="mb-2" src="/images/logo.svg" />
    </div>
    <div>
      <a class="btn px-0" href="https://www.instagram.com/canideagiu/">
        <img
          width="30"
          src="/images/instagram-pb.svg"
          alt="Instagram" />
      </a>
      <a class="btn px-0" href="https://wa.me/5519997660820">
        <img
          width="30"
          src="/images/whatsapp-pb.svg"
          alt="WhatsApp" />
      </a>
      <a class="btn px-0" href="https://facebook.com/giuliannabosco">
        <img
          width="30"
          src="/images/facebook-pb.svg"
          alt="Facebook" />
      </a>
    </div>
    <div class="border-top border-secondary text-secondary mt-3">
      © Copyright, Giulianna Elena Bosco — 2021
    </div>
  </div>
</footer>
