<head>
  <meta charset="utf-8" />
  <meta name="description" content="Adestramento positivo para o convívio harmonioso entre animais de estimação e seus tutores" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:locale" content="pt_BR" />
  <meta property="og:image" content="/images/favicon-256.png" />
  <meta property="og:description" content="Adestramento positivo para o convívio harmonioso entre animais de estimação e seus tutores" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap"
    rel="stylesheet" />
  {{ $style := resources.Get "main.scss" | toCSS (dict "outputStyle" "compressed") | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="icon" href="/images/favicon-32.png"  sizes="32x32">
  <link rel="icon" href="/images/favicon-64.png"  sizes="64x64">
  <link rel="icon" href="/images/favicon-128.png" sizes="128x128">
  <link rel="icon" href="/images/favicon-256.png" sizes="256x256">
  <title>{{ .Title }}</title>
</head>
