{{ define "main" }}

{{ partial "whatsapp.html" . }}

{{ with site.Data.landingPage }}

<main class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h1 class="mb-4">
          {{ .title }}
        </h1>
        <p class="mb-3">
          {{ .subtitle }}
        </p>
        <img
          class="ikki img-fluid rounded"
          src="images/ikki.jpg"
          alt="Foto do Ikki, o Akita"
          />
      </div>
    </div>
  </div>
</main>

<section class="section bg-light my-5 py-4">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="section-title">
          Me envie uma mensagem sem compromisso!
        </h2>
      </div>
      <div class="col-12">
        <div>
          <a class="btn btn-primary" href="https://wa.me/5519997660820">
            <img width="30" src="/images/whatsapp-nobg.svg" />
            (19) 99766-0820
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{{ range $i,$p := .cartoes }}
{{ if modBool $i 2 }}
<section class="section py-3">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-2 order-md-1">
        <h2 class="section-title">{{ .titulo | markdownify }}</h2>
        {{ partial "md.html" .texto }}
      </div>
      <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0">
        <div class="text-center">
          <img src="{{ .imagem }}" alt="{{ .imagemAlt }}" class="img-fluid section-image {{ .imagemClass }}" />
        </div>
      </div>
    </div>
  </div>
</section>
{{ else }}
<section class="section bg-light py-3">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 mb-4 mb-md-0">
        <div class="text-center">
          <img src="{{ .imagem }}" alt="{{ .imagemAlt }}" class="img-fluid section-image {{ .imagemClass }}" />
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="section-title">{{ .titulo | markdownify }}</h2>
        {{ partial "md.html" .texto }}
      </div>
    </div>
  </div>
</section>
{{ end }} <!-- end if -->
{{ end }} <!-- end range -->

{{ end }} <!-- end with -->

{{ end }}
