<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Adestramento positivo para o convívio harmonioso entre animais de estimação e seus tutores" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Canidea" />
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:image" content="/images/favicon-256.png" />
    <meta property="og:description" content="Adestramento positivo para o convívio harmonioso entre animais de estimação e seus tutores" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap"
      rel="stylesheet" />
    {{ $style := resources.Get "main.scss" | toCSS (dict "outputStyle" "compressed") | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    <link rel="icon" href="/images/favicon-32.png"  sizes="32x32">
    <link rel="icon" href="/images/favicon-64.png"  sizes="64x64">
    <link rel="icon" href="/images/favicon-128.png" sizes="128x128">
    <link rel="icon" href="/images/favicon-256.png" sizes="256x256">
    <title>Canidea</title>
  </head>
  <body>
    <a class="whatsapp__link" href="https://wa.me/5519997660820">
      <img src="images/WhatsApp.svg" alt="Logotipo do WhatsApp"/>
    </a>
    <header class="hero">
      <img
        class="primary_logo_img"
        src="images/logo.svg"
        alt="O logotipo da Canidea é um desenho de um cachorro da raça akita"
        />
      <hr />
      <!-- <h1>Canidea</h1> -->
      <img
        class="primary_logo_text"
        src="images/canidea-branco.svg"
        alt="Canidea"
        />
    </header>
    <main class="main">




      <section class="our-services">

        {{ range .Site.Data.landingPage.cartoes }}
        <div class="container service {{ .estilo }}">
          <img
            class="service-image {{ .imagemClass }}"
            src="{{ .imagem }}"
            alt="{{ .imagemAlt }}"
            />
          <h2 class="service-title">{{ .titulo | markdownify }}</h2>
          {{ partial "md.html" .texto }}
        </div>
        {{ end }} <!-- end of range .Site.Data.landingPage.cartoes -->

      </section>




      <section class="dark-section social">
        <h2>Entre em contato!</h2>
        <p>Envie uma mensagem nas nossas redes sociais</p>
        <a href="https://www.instagram.com/canideagiu/">
          <img
            src="images/instagram.svg"
            alt="Logotipo da rede social Instagram" />
        </a>
        <a href="https://wa.me/5519997660820">
          <img
            src="images/WhatsApp.svg"
            alt="Logotipo do WhatsApp" />
        </a>
      </section>




    </main>
    <footer>
    </footer>
  </body>
</html>

